<div class="wvu-footer__links">
  <ul class="wvu-footer__auxillary-links">
    {{#_wvu-footer__links.auxillary}}
    <li><a href="{{href}}">{{title}}</a></li>
    {{/_wvu-footer__links.auxillary}}
  </ul>

  <ul class="wvu-footer__social">
    {{#_wvu-footer__links.social}}
    <li><a class="{{class}}" href="{{href}}">{{title}}</a></li>
    {{/_wvu-footer__links.social}}
  </ul>
</div><!-- /.wvu-footer__links -->
